tensorflow>=2.4.0
numpy>=1.19.5
opencv-python>=4.5.1.48
scikit-learn>=0.24.1
PyQt5>=5.15.2
PyQt5-sip>=12.9.0
PyQtChart>=5.15.2
pyttsx3>=2.90
bcrypt>=3.2.0
python-dotenv>=0.15.0
PyJWT>=2.1.0
matplotlib>=3.3.4
fpdf>=1.7.2
opencv-python-headless>=4.5.1.48
pyaudio>=0.2.11
Flask==2.1.1
redis==4.0.2
plotly==5.3.1
werkzeug==2.1.1
sentry-sdk
watchdog
PyJWT
SQLAlchemy>=1.4.0
